[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Robert Bałdyga (robertbaldyga)
[access "refs/for/refs/*"]
	read = group user/Robert Bałdyga (robertbaldyga)
	push = group user/Robert Bałdyga (robertbaldyga)
	label-Code-Review = -2..+2 group user/Robert Bałdyga (robertbaldyga)
	label-Verified = -1..+1 group user/Robert Bałdyga (robertbaldyga)
	rebase = group user/Robert Bałdyga (robertbaldyga)
	removeReviewer = group user/Robert Bałdyga (robertbaldyga)
	submit = group user/Robert Bałdyga (robertbaldyga)
[access "refs/heads/*"]
	read = group user/Robert Bałdyga (robertbaldyga)
	create = group user/Robert Bałdyga (robertbaldyga)
	push = +force group user/Robert Bałdyga (robertbaldyga)
	pushMerge = group user/Robert Bałdyga (robertbaldyga)
[access "refs/tags/*"]
	push = group user/Robert Bałdyga (robertbaldyga)
	push = +force group user/Robert Bałdyga (robertbaldyga)
