name: Build Status
permissions:
  contents: read
  pull-requests: read
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Status
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: 'Build OCF'
      run: cd tests/build; make
